.signupCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    align-content: space-around;
    padding: 5%;
    margin: 3%;
    box-shadow:0px 1px 10px 2px lightgrey;
}
.signupCard h1{
    color: forestgreen;
    font-weight: bolder;
    text-align: center;
}
.signupCard Button{
    margin :3% 0;

}
.signupCard Form{
    display: flex;
    flex-direction: column;
    height:95vh;
    justify-content: space-evenly;
}